/node_modules
/public/act_temp
/public/pdf_temp
/public/pdf_temp/*.*
/public/act_temp/*.*
/public/storage
/public/thumbnails/*.*
/public/thumbnails
/storage
storage/*
/storage/*.key
/vendor
/config/app_config.php
.env
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js/config.js
/bootstrap/cache/config.php

