.ast_required {
    color: red;
}
.chk_not_parte {
    width: 20px;
    height: 20px;
}
.form-control-dropzone{
    padding: 1px;
    border: none;
    border-bottom: 1px solid rgb(192, 191, 191);
    margin-top: 10px;
}
.form-control-dropzone:focus{
    padding: 1px;
    border: none;
    border-bottom: 1px solid rgb(186, 184, 184);
    margin-top: 10px;
    outline: none;
}
#wait{
	z-index: 200000;
}
#load{
animation: spin 5s linear infinite;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
#acept_ter{
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    color: black;
}

.oculto {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }